.homepage {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 100%;

    @media screen and (max-width: 1280px) {
        flex-direction: column;
        gap: 20px;
        padding: 1rem;
    }

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        gap: 20px;
        padding: 2.5rem;
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        text-align: center;

        h1 {
            font-size: 128px;
            background: linear-gradient(to right, #217bfe, #e55571);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            @media screen and (max-width: 1280px) {
                font-size: 64px;
            }
            @media screen and (max-width: 800px) {
                font-size: 48px;
                line-height: 1.2;
            }
            @media screen and (max-width: 600px) {
                font-size: 36px;
            }
        }

        h3 {
            font-weight: 400;
            max-width: 70%;

            @media screen and (max-width: 1024px) {
                max-width: 100%;
            }
            @media screen and (max-width: 800px) {
                font-size: 16px;
                max-width: 90%;
            }
        }

        button {
            padding: 15px 25px;
            background-color: #217bfe;
            color: white;
            border: none;
            border-radius: 20px;
            font-size: 14px;
            margin-top: 20px;

            @media screen and (max-width: 800px) {
                padding: 10px 20px;
                font-size: 12px;
            }
        }

        button:hover {
            background-color: white;
            color: #217bfe;
        }
    }

    .right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        height: 100%;

        .imageContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #140e2d;
            border-radius: 50px;
            width: 80%;
            height: auto;
            padding: 1rem;
            z-index: 10;
            position: relative;

            @media screen and (max-width: 800px) {
                width: 100%;
                height: auto;
                padding: 1rem;
            }

            .bgContainer {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50px;

                .bg {
                    background-image: url('/bg.png');
                    width: 200%;
                    height: 100%;
                    background-size: auto 100%;
                    opacity: 0.2;
                    animation: 8s ease-in-out infinite alternate bgSlider;
                }
            }

            .bot {
                width: 80%;
                height: 80%;
                object-fit: contain;
                animation: 3s ease-in-out infinite alternate botAnimate;

                @media screen and (max-width: 800px) {
                    width: 60%;
                    height: 60%;
                }
            }

            .chat {
                position: absolute;
                bottom: -30px;
                right: -30px;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px;
                background-color: #2c2937;
                border-radius: 10px;

                @media screen and (max-width: 1024px) {
                    display: none;
                }

                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }

    .orbital {
        position: absolute;
        bottom: 0;
        left: -50px;
        opacity: 0.1;
        animation: 100s linear infinite rotateOrbital;
    }
}

@keyframes rotateOrbital {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(60deg);
    }
}

@keyframes botAnimate {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.1) rotate(-5deg);
    }
}

@keyframes bgSlider {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.fileInput {
    margin-top: 10px;
  }
  
  .uploadButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    pointer-events: auto !important;
    z-index: 1000 !important;
  }
  
  .uploadLabel{
    cursor: pointer;
    margin-top: 10px;
    pointer-events: auto !important;
    z-index: 1000 !important;
  }
  .uploadButton:hover {
    background-color: #0056b3;
  }
  
  .uploadStatus {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
  }
  